/* will link this inside of my head on other file */

/* style.css; first 2 are element tags */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    color: #333333;
}

h1, h2, h3 {
    font-family: Arial, Arial, Helvetica, sans-serif;
    color: #2c2c2c;
}

/* # = id */
#main-header {
    background-color: #1a252f;
    color: white;
    text-align: center;
    border-bottom: 5px solid #000000;
}

/* . = class */
.highlight {
    background-color: rgba(255, 235, 59, 0.3);
    font-weight: bold;
    border-left: 4 px solid #000000;
}