body {
    background-color:antiquewhite;
    font-family: Arial, sans-serif;
    margin: 40 px;
    color: gray;
}

h1 {
    background-color: darkslategrey;
    color: white;
    padding: 20px;
    border-radius: 15 px;
    text-align: center;
}

table {

}

th, td {

}

th{

}

a {

}

a:hover {

}